@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;410&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cinzel', serif;
}
header{
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}
main{
    width: 50%;
    margin:2rem auto 0 auto; 
    font-family: inherit;
}
main textarea{
    width: 100%;
    margin: auto;
}
#user-input{
    font-family: inherit;
    padding: .5rem;
    font-weight: 600;
    font-size: 1rem;
}
#translated-output{
    font-family: inherit;
    padding: .5rem;
    font-weight: 1.5rem;
    font-size: 1rem;
}
#btn-translate button{ 
    padding: .7rem 1rem;
    border: none;
    font-size: 1rem;
    margin: .7rem 0;
    background-color: #333;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}
footer{
    background-color: #333;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 4rem 0 0 0;
}
footer p {
    width: 100%;
    margin: auto;
    color: #fff;
}